{%- set cpu_affinity = [] -%}
{%- set cpu_total = ansible_processor_vcpus -%}
{%- for i in range(cpu_total) %}
{%- set _ = cpu_affinity.append(["0"*(cpu_total-1-i),"1","0"*i]|join('')) -%}
{%- endfor %}
